<h1>Javascript#index</h1>
<p>Find me in app/views/javascript/index.html.erb</p>
<!--デジタル時計を作成する-->
<form name="clockForm"><p>
  <input type="text" name="hour">時 
  <input type="text" name="minute">分 
  <input type="text" name="sec">秒 
</p></form>