<h1>Javascript#index</h1>
<p>Find me in app/views/javascript/index.html.erb</p>
<div id="myArea">
  <h1>今日の運勢は？</h1>
  <form><p>
    <input type="button" value="占う" name="calc" onclick="unsei();">
  </p></form>
</div>